.idea
Homestead/home1/Vagrantfile
Homestead/Git-2.23.0-64-bit.exe
Homestead/home1/.editorconfig
Homestead/home1/.gitattributes
Homestead/home1/.github/ISSUE_TEMPLATE.md
Homestead/home1/.travis.yml
Homestead/home1/bin/homestead
Homestead/home1/CHANGELOG.md
Homestead/home1/composer.json
Homestead/home1/composer.lock
Homestead/home1/Homestead.yaml.example
Homestead/home1/init.bat
Homestead/home1/init.sh
Homestead/home1/LICENSE.txt
Homestead/home1/phpunit.xml.dist
Homestead/home1/readme.md
Homestead/home1/resources/after.sh
Homestead/home1/resources/aliases
Homestead/home1/resources/Homestead.json
Homestead/home1/resources/Homestead.yaml
Homestead/home1/resources/localized/aliases
Homestead/home1/resources/localized/Vagrantfile
Homestead/home1/scripts/clear-nginx.sh
Homestead/home1/scripts/clear-variables.sh
Homestead/home1/scripts/configure-avahi.sh
Homestead/home1/scripts/create-certificate.sh
Homestead/home1/scripts/create-couch.sh
Homestead/home1/scripts/create-ecosystem.sh
Homestead/home1/scripts/create-influxdb.sh
Homestead/home1/scripts/create-minio-bucket.sh
Homestead/home1/scripts/create-mongo.sh
Homestead/home1/scripts/create-mysql.sh
Homestead/home1/scripts/create-ngrok.sh
Homestead/home1/scripts/create-postgres.sh
Homestead/home1/scripts/cron-schedule.sh
Homestead/home1/scripts/features/blackfire.sh
Homestead/home1/scripts/features/cassandra.sh
Homestead/home1/scripts/features/chronograf.sh
Homestead/home1/scripts/features/couchdb.sh
Homestead/home1/scripts/features/crystal.sh
Homestead/home1/scripts/features/docker.sh
Homestead/home1/scripts/features/elasticsearch.sh
Homestead/home1/scripts/features/gearman.sh
Homestead/home1/scripts/features/golang.sh
Homestead/home1/scripts/features/grafana.sh
Homestead/home1/scripts/features/influxdb.sh
Homestead/home1/scripts/features/mariadb.sh
Homestead/home1/scripts/features/minio.sh
Homestead/home1/scripts/features/mongodb.sh
Homestead/home1/scripts/features/mysql8.sh
Homestead/home1/scripts/features/neo4j.sh
Homestead/home1/scripts/features/ohmyzsh.sh
Homestead/home1/scripts/features/openresty.sh
Homestead/home1/scripts/features/pm2.sh
Homestead/home1/scripts/features/python.sh
Homestead/home1/scripts/features/rabbitmq.sh
Homestead/home1/scripts/features/solr.sh
Homestead/home1/scripts/features/timescaledb.sh
Homestead/home1/scripts/features/webdriver.sh
Homestead/home1/scripts/flip-webserver.sh
Homestead/home1/scripts/homestead.rb
Homestead/home1/scripts/hosts-add.sh
Homestead/home1/scripts/hosts-reset.sh
Homestead/home1/scripts/install-load-balancer.sh
Homestead/home1/scripts/install-xhgui.sh
Homestead/home1/scripts/site-types/apache.sh
Homestead/home1/scripts/site-types/cakephp3.sh
Homestead/home1/scripts/site-types/crystal.sh
Homestead/home1/scripts/site-types/elgg.sh
Homestead/home1/scripts/site-types/laravel.sh
Homestead/home1/scripts/site-types/magento.sh
Homestead/home1/scripts/site-types/modx.sh
Homestead/home1/scripts/site-types/pimcore.sh
Homestead/home1/scripts/site-types/proxy.sh
Homestead/home1/scripts/site-types/silverstripe.sh
Homestead/home1/scripts/site-types/spa.sh
Homestead/home1/scripts/site-types/statamic.sh
Homestead/home1/scripts/site-types/symfony2.sh
Homestead/home1/scripts/site-types/symfony4.sh
Homestead/home1/scripts/site-types/thinkphp.sh
Homestead/home1/scripts/site-types/wordpress.sh
Homestead/home1/scripts/site-types/yii.sh
Homestead/home1/scripts/site-types/zf.sh
Homestead/home1/src/MakeCommand.php
Homestead/home1/src/Settings/HomesteadSettings.php
Homestead/home1/src/Settings/JsonSettings.php
Homestead/home1/src/Settings/YamlSettings.php
Homestead/home1/src/Traits/GeneratesSlugs.php
Homestead/home1/tests/InitScriptTest.php
Homestead/home1/tests/MakeCommandTest.php
Homestead/home1/tests/Settings/JsonSettingsTest.php
Homestead/home1/tests/Settings/YamlSettingsTest.php
Homestead/home1/tests/Traits/GeneratesTestDirectory.php
Homestead/homestead-9.2.0.zip
Homestead/vagrant_2.2.5_x86_64.msi
Homestead/VirtualBox-5.2.32-132073-Win.exe
